@import url(comun.css);
main{
    justify-content: space-around;
}
body{
    background-color: black;
}
.fondo{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    width: 71vh;
    height: 84vh;
    margin: 0px;
    
}
.Zo{
    background-image: url(../img/773a056129c6b4d0f026cdb25423e74f.jpg);
   
}
.Fer{
    background-image: url(../img/FondoFer.png);
   
}
.Miru{
    background-image: url(../img/FondoMiru.jpeg);
}
.escudo{
    margin-top: 120px;
    margin-left: 35px;
    width: 20rem;
    height: 20rem;
    position: absolute;
    visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
   
}

.cajaCasa{
    margin: 15px;
    border-radius: 30px;
    box-shadow: none;
    width: 25vw;
    height: 80vh;
    border-radius: 30px;
    transition: box-shadow 1s;
}
.portal:hover .cajaCasa{
    
box-shadow: 3px 11px 48px 21px rgba(0,0,0,0.61);
-webkit-box-shadow: 3px 11px 48px 21px rgba(0,0,0,0.61);
-moz-box-shadow: 3px 11px 48px 21px rgba(0,0,0,0.61);
    transition: box-shadow 0.8s;
   transform: scale(1.05);
   transition: transform 0.8s;
   filter: blur(2px); 
   z-index: 10;
}
.portal:hover .escudo{
    z-index: 1000;
    visibility: visible;
  opacity: 1;
} 
.CasaFondo{
    padding: 0px 30px;
}

@media(max-width:1300px){
    main{
        flex-direction: column;
        align-items: center;
    }
    .fondoZ{
        width: 98%;
        align-items: center;
    }
    .fondoF{
        width: 98%;
        align-items: center;
    }
    .fondoM{
        align-items: center;
        width: 98%;
    }
}