@import url(comun.css);
body{
}
main{
     justify-content: space-around; 
    flex-wrap: nowrap;
    overflow: hidden;
}
body{
    background-color: black;
}
.fondo{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 71vh;
    height: 84vh;
    margin: 0px;
    align-items: center;
}
.portal{
    margin: 15px;
    border-radius: 30px;
    box-shadow: none;
    width: 25vw;
    height: 80vh;
    border-radius: 30px;
    transition: box-shadow 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portal:hover{
    box-shadow: 3px 11px 48px 21px rgba(0,0,0,0.61);
    -webkit-box-shadow: 3px 11px 48px 21px rgba(0,0,0,0.61);
    -moz-box-shadow: 3px 11px 48px 21px rgba(0,0,0,0.61);
    transition: box-shadow 0.8s;
    transform: scale(1.04);
    transition: transform 0.8s;
    z-index: 10;
}
.portal:hover .PZo{
    filter: blur(2px);
}
.Zo{
    background-image: url(../img/773a056129c6b4d0f026cdb25423e74f.jpg);
}
.PZo{
    background-image: url(../img/5e46359e6b522c431ac082ca532aba93.jpg);
    background-size: 110% 100%;
    background-repeat: no-repeat;
    position: absolute;
    margin: 15px;
    border-radius: 30px;
    box-shadow: none;
    width: 25vw;
    height: 80vh;
    border-radius: 30px;
    transition: box-shadow 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Fer{
    background-image: url(../img/FondoFer.png);
}
.PFer{
    background-image: url(../img/PortalFer.png);
    background-size: 115% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin: 15px;
    border-radius: 30px;
    box-shadow: none;
    width: 25vw;
    height: 80vh;
    border-radius: 30px;
    transition: box-shadow 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Miru{
    background-image: url(../img/FondoMiru.jpeg);
}
.PMir{
    background-image: url(../img/PortalMiru.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin: 15px;
    border-radius: 30px;
    box-shadow: none;
    width: 25vw;
    height: 80vh;
    border-radius: 30px;
    transition: box-shadow 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.escudo{
    width: 25vw;
    height: 50vh;
    filter:none;
    visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.8s linear;
   
}

.cajaCasa{
     margin: 15px;
    border-radius: 30px;
    box-shadow: none;
    width: 25rem;
    height: 40rem;
    border-radius: 30px;
    transition: box-shadow 1s;
}

.portal:hover .escudo{
    z-index: 1000;
    visibility: visible;
    filter: blur(0px);
  opacity: 1;
} 
.CasaFondo{
    padding: 0px 30px;
}

@media(max-width:700px){
    main{
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    .fondo{
        width: 100vw;
    }
    .escudo{
        width: 75vw;
        height: 35vh;
    }
   .portal{
       width: 80vw;
       height: 70vh;
   }
   .PZo{
    background-size: 110% 100%;
    margin: 0;
       width: 80vw;
       height: 70vh;
   }
   .PFer{
    background-size: 110% 100%;
    margin: 0;
    width: 80vw;
    height: 70vh;
    background-size: 125% 130%;
}
    .PMir{
    background-size: 110% 100%;
    margin: 0;
    width: 80vw;
    height: 70vh;
}
}