@import url(comun.css);
 @import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap'); 
 @import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700"); 

 main{
  overflow: hidden;
}
 p{
   text-align: center;
   font-size: 15px;
 }



 .Asthetic{
  display: flex;
  flex-direction: column;
  width: 98vw;
  justify-content: center;
  padding: 0.5rem 0px;
  padding-left: 7px;
  overflow: hidden;
}
.FondoAesti{
  width: 99vw;
}
.infoAesti{
  padding: 2vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.infoAesti p{
  width: 40vw;
  font-size: 15px;
  font-family: 'roboto';
}

.titulosAesti{
  margin: 0rem;
  margin-bottom: 1rem;
  margin-right: 7rem;
  font-family: 'MonteCarlo', cursive;
  color: var(--zochu);
  text-align: center;
  font-size: 5rem;
  justify-self: center;
}

.fotoUnion {
  position: absolute;
  margin-top: -2rem;
  left: 2rem;
  width: 15vw;
  transform: rotate(350deg);
  background-color: white;
  padding: 0.5rem;
}
.fotonFondoDere {
  width: 12vw;
  position: absolute;
  right: 30px;
  margin-top: 14rem;
  transform: rotate(10deg);
  background-color: white;
  padding: 0.3rem;
}
.fotoArribaDere {
  width: 7.5vw;
  position: absolute;
  right: 30px;
  margin-top: -15rem;
  transform: rotate(351deg);
  background-color: white;
  padding: 0.3rem;
}






.Portales{
  background-color: white;
  height: 105vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.InfoPortal{
display: flex;
align-self: center;
flex-direction: column;
}
.InfoPortal p{
  width: 30vw;
  font-size: 15px;
font-family: 'roboto';
}
.tituloPortal{
  margin: 0rem;
  font-family: 'MonteCarlo', cursive;
  color: var(--zochu);
  text-align: center;
  font-size: 5rem;
  justify-self: center; 
}
.imgsPortals{
display: flex;
flex-wrap: wrap;
width: 50vw;
height: 80vh;
}
.imgPortal {
  width: 20vw;
  height: 39vh;
  margin: 5px;
}





.animals{
  background:linear-gradient(111deg, #5e3888 0%, var(--zochu) 52%, #5e3888 100%);
  height: 180vh;
  display: flex;
  padding: 2rem 0;
  padding-top: 6rem;
  justify-content: center;
}
.portadaAnimals{
  width: 99vw;
  display: flex;
  justify-content: space-evenly;
  margin-left: 0rem;
  margin-bottom: 47vh;
  height: fit-content;
}
.portadaAnimal{
  width: 70vw;
  height: 65vh;
}
.tituloAnimals{
  margin: 0rem;
  margin-bottom: 1rem;
  font-family: 'MonteCarlo', cursive;
  color: white;
  text-align: center;
  font-size: 5rem;
}
.infoAmials{
  width: 20vw;
  height: 50vh;
}
.infoAmials p{
  color: white;
  font-family: 'roboto';
  font-size: 15px;
  width: 22vw;
}
.sectionCarrousel{
  margin-top: -11rem;
  margin-bottom: 25vh;
}
.SubtitutoluAnimals{
  margin: 0rem;
  margin-bottom: 1rem;
  font-family: 'MonteCarlo', cursive;
  color: white;
  font-size: 4rem;
  position: absolute;
  right: 5rem;
}
.carousel {
  position: relative;
  display: flex;
  margin-top: 5rem;
}
.carousel .slides {
  position: relative;
  top: -4em;
  left: 5em;
}
.carousel .slides img {
  position: absolute;
  width: 30vw;
  height: 80vh;
  opacity: 0;
  z-index: 9999;
}
.carousel .slides img.active {
  opacity: 1;
}
.carousel .overlays {
  position: relative;
  width: 36em;
  height: 18em;
}
.carousel .overlays .bar {
  position: absolute;
  top: -73px;
  left: 30px;
  width: 80%;
  height: 82vh;
  background: var(--bar-color);
  transform-origin: left;
}
.carousel .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  margin-top: 5rem;
  margin-left: 0;
  padding: 0 0 0 6em;
  list-style-type: none;
}
.carousel .nav-links .nav-link {
  font-size: 2rem;
  font-family: Lora, serif;
  line-height: 2;
  padding: 0 5vw;
  text-decoration: none;
  color: var(--Ccomun);
  transition: 0.3s;
}
.carousel .nav-links li:hover{
  background-color: rgba(255, 255, 255, 0.397);
}
.carousel .nav-links .nav-link:hover {
  color: var(--Ccomun);
 
}
.carousel .nav-links .nav-link.active {
  color: rgba(255, 255, 255, 0.87);
  pointer-events: none;
}









.magia{
  background-color: white;
  display: flex;
  justify-content: space-around;
padding: 1rem;
padding-top: 5rem;
}
.columnaIz{
padding-top: 1rem;
}
.douImgIz{
  display: flex;
}
.imgMagVer{
  width: 15vw;
  height: 60vh;
  margin-top: -1rem;
  border-radius: 50px;
}
.prime{
  
margin-top: 4rem;
  margin-left: 10px;
}
.columnaMe{
display: flex;
flex-direction: column;
align-items: center;
width: 33vw;
}
.tituloMagia{
  margin: 0rem;
  font-family: 'MonteCarlo', cursive;
  color: var(--zochu);
  text-align: center;
  font-size: 5rem;
  justify-self: center; 
}
.columnaMe p{
width: 30vw;
font-size: 15px;
font-family: 'roboto';
}
.columnaDe{
  width: 30vw;
padding-top: 1rem;
}
.douImgDe{
display: flex;
}
.primo{
margin-top: 4rem;
margin-right: 10px;
}








.tituloCastle{
  margin: 0rem;
  margin-bottom: 1rem;
  font-family: 'MonteCarlo', cursive;
  color: white;
  text-align: center;
  font-size: 5rem;
}
.castle{
  background:linear-gradient(111deg, #5e3888 0%, var(--zochu) 52%, #5e3888 100%);
  padding:3rem 1rem;
  padding-top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.infoCastle{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.infoCastle p{
  width: 40%;
  color: white;
  font-family: 'roboto';
  font-size: 15px;
}
.contFotos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.casImgVer{
  width: 17vw;
  margin-top: 1rem;
  border-radius: 10px;
}
.casImgVer:hover{
  transform: scale(1.05);
  transition:transform 1s ;
}
.casImgCua{
  width: 25vw;
  margin-top: 1rem;
  border-radius: 10px;
}
.casImgCua:hover{
  transform: scale(1.05);
  transition:transform 1s ;
}











.tituloInCastle{
  margin: 0rem;
  margin-bottom: 1rem;
  font-family: 'MonteCarlo', cursive;
  color: var(--zochu);
  text-align: center;
  font-size: 50px;
}
.introInCastle{
  display: flex;
  align-items: center;
  width: 98vw;
  padding-bottom: 5vh;
}
.cajaBlanca{
  width: 99vw;
  height: 35vh;
  position: relative;
  z-index: 1;
}
.cajavioleta {
  display: block;
  background-color: var(--Ccomun);
  position: absolute;
  top: 10.5rem;
  z-index: -10;
  margin-left: -15vw;
  width: 200vw;
  height: 50vh;
  transform: rotate(350deg);
}
.infoInCastle {
  border: var(--zochu) 5px solid;
  width: 30vw;
  height: max-content;
  padding: 20px;
  margin: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoInCastle p{
  width: 30vw;
}
.cajaImagIC{
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.imgIntroInCastle{
  width: 20vw;
  height: 60vh;
  margin-right: 10px;
}
.EspeCo{
     margin-left: 10rem;
}
.cotenImgVerIC{
  width: 60vw;
    display: flex;
}

.EspeCo .imgenesCloumna {
  display: flex;
  flex-direction: column;
}
.unoIC{
  margin-top: 60px;
}
.dosIC{
  margin-top: 30px;
}
.insideCastle{
  background-color: white;
  min-height: 100vh;
  height: max-content;
  display: flex;
  padding-top: 5vw;
  padding-bottom: 5rem;
  justify-content: center;
  overflow: hidden;
}
.insideCastleCont {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  width: 100vw;
  margin-top: 2rem;
  margin-left: 10px;
}
.imagenesInCastle {
  display: flex;
  margin-right: 5px;
}
.imgVer {
  box-sizing: border-box;
  width: 19vw;
  height: 80vh;
  margin: 5px;
}
.espe{

}
.imgHor {
  box-sizing: border-box;
  width: 29vw;
  height: 25vh;
  margin: 5px 0;
}
.imgHorEspe {
  width: 30vw;
  margin: 2px;
  height: 34.6vh;
  /* margin-bottom: 20px; */
}

.imgCua {
    box-sizing: border-box;
    width: 29vw;
    height: 54vh;
    margin: 5px;
}
.imgenesCloumna {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}
.imgVerespe {
  width: 25vw;
  height: 70vh;
  margin: 2px;
}

.cajavioleta{
  display: block;
  width: 98vw;
  margin: 0;
  transform: rotate(0deg);
  top: 0;
  height: 35vh;
}









#toggleContainer label { 
  text-align: center;
  width: 70px;
}

#container {
  height: fit-content;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  box-sizing: border-box;
  color: #fbfbfb;
  background: linear-gradient(111deg, #5e3888 0%, var(--zochu) 52%, #5e3888 100%);
 
}

#toggleContainer {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  position: absolute;
} 
.mivestuario{
  margin: 0rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
  font-family: 'MonteCarlo', cursive;
  font-size: 5rem;
}
.botonCambio{
  display: flex;
}
#tilesContainer {
  min-height: 90vh;
  width: 100vw;
  margin-top: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: center;
  
}

.tileItem {
  width: 250px;
  height: 250px;
  margin: 5px;
  border-radius: 5px;
  
  transition: all 0.5s ease;
}

.tileItem:hover {
   transform: scale(1.05);
  transition: all 0.5s ease;
}

#galleryContainer { 
  height: 500px;
  width: 100vw;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin-top: 2rem;
}

#toggle {
  height: 10vh;
  width: 200px;
  display: flex;
  align-items: center;
  margin: 10px;
}

#tilesView {
  min-height: 100vh;
  width: 100vw;
  background: rgb(246,210,106);
  background: linear-gradient(111deg, #5e3888 0%, var(--zochu) 52%, #5e3888 100%);
  display: none;
  justify-content: center;
  align-items: center;
  
}

#galleryView {
  height: 90vh;
  width: 99vw;
  background: rgb(246,210,106);
  background: linear-gradient(111deg, #5e3888 0%, var(--zochu) 52%, #5e3888 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer3 {
  width: 100px;
  height: 36px;
  background-color: white;
  margin: 10px auto;
  border-radius: 3px;
  border: 2px solid white;
  transition: all 0.5s;
}

#slider3 {
  height: 36px;
  width: 46px;
  background-color: var(--zochu);
  border-radius: 3px;  
  transition: all 0.5s;
}
.fa-star-and-crescent{
font-size: 35px;
font-weight: bold;
}
.fa-moon{
  font-size: 32px;
  margin-top: 2rem;
}
#slider3.active {
  -webkit-transform: translatex(50px);
  -ms-transform: translatex(50px);
  -o-transform: translatex(50px);
  transform: translatex(50px);
  transition: all 0.5s;
  background-color: var(--zochu);
}

#outer3.outerActive {
  background-color: white;
  border: 2px solid white;
  transition: all 0.5s;
}

#mainView {
  height: 65vh;
  width: 50vw;  
  border-radius: 5px;
  background-color: #5e3888;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: transform 1s;
}
.ajustar{
  
  background-repeat: no-repeat;
  transform: scale(0.95);
  transition: transform 1s;
}
#mainView:hover {
  transform: scale(1.111);
  transition: all 1s;   
}

#leftView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;
  background-color: #5e3888;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#leftView:hover {
  opacity: 1;
  transition: all 1s;
}

#rightView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;
  background-color: #5e3888;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rightView:hover {
  opacity: 1;
  transition: all 1s;
}

.navBtns {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
} 

 
.navBtns:hover {
  opacity: 1;
  transition: all 1s;
  background-color: #5e3888;
}

#navLeft {
  left: 50px;
}

#navRight {
  right: 50px;
}

#linkTag { 
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
}
 
 

.uniformes{
  background-color: var(--Ccomun);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  height: 100vh;
  padding-top: 1rem;
}
.tituloUniform{
  margin: 0rem;
  margin-left: 5rem;
  font-family: 'MonteCarlo', cursive;
  color: var(--zochu);
  font-size: 5rem;
}

.mainContenidoUniform{
  display: flex;
justify-content: space-around;
} 
.contenImagenesUniformeGeneral {
  background-color: white;
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}
.contenFotosCuadradas{
  display: flex;
  flex-direction: column;
 
}
.fotoCuadrada {
  width: 10rem;
  height: 11rem;
  margin: 10px;
}
.fotoRectangu {
  margin: 10px;
  width: 12rem;
  height: 23rem;
}

.fotosUniform{
  display: flex;
} 
.tituloContentImagenes{
 text-align: center;
 font-family: 'roboto';
 color: var(--zochu);
  font-size: 20px;
  letter-spacing: 5px;
}

.contenFotosRctangulares{
  display: flex;
} 








 .tituloComida{
  margin: 0rem;
  margin-left: 5rem;
  font-family: 'MonteCarlo', cursive;
  color: var(--zochu);
  text-align: center;
  font-size: 5rem;
}
.comidas{
background-color: white;
display: flex;
flex-direction: column;
padding: 1rem;
justify-content: center;
height: 100vh;
} 

.contenedorImagenesComida{
  display: flex;
  justify-content: space-around;
} 

.comida{
width: 20rem;
height: 22rem;
z-index: 10;
}
.contenComida{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.textoImagen{
  background-color: var(--Ccomun);
  width: fit-content;
  padding: 10px;
  font-family: 'MonteCarlo', cursive;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -1.5rem;
  z-index: 20;
  position: absolute;
  justify-self: center;
  
}


 








.contenedor{
  position: fixed;
  bottom:20px;
	right:10px;
  width: 15em;
background-color:#3211568e;
display: flex;
justify-items: center;
flex-direction:column;
border-radius: 30px;
height: fit-content;
padding: 10px;
z-index: 500;
visibility: hidden;
margin-bottom: 5rem;
}


.portada{
  width: 12rem;
  border-radius: 30px;
  align-self: center;
  margin: 1rem;
  background-color: rgb(135, 206, 250);
}
#playList{
border-radius: 10px;
text-align: left;
opacity: 0.8;
color:white;

}

ol li{
list-style: none;
padding: 5px;
  margin-left: 10px;
font-size: 1.5rem;
color:#8383b6;
}
ol li:hover, svg:hover {
cursor: pointer;
color: white;
}
ol li.active{
color:white;
}
#controls{
border-radius: 10px;
padding: 10px;
opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.botones{
  justify-content: space-around;
  
  width: 100%;
}
.play i{
  color: white;
}
svg{
color: white;
}

.progreso[type='range'] {
margin-bottom: 15px;
padding-left: 10px;
}
.progreso[type='range']:focus {
outline: none;
}

.progreso[type='range'],
.progreso[type='range']::-webkit-slider-runnable-track,
.progreso[type='range']::-webkit-slider-thumb {
-webkit-appearance: none;
}

.progreso[type=range]::-webkit-slider-thumb {
background-color:white;
width: 15px;
height: 15px;
/* border: 3px solid var(--miru); */
border-radius: 50%;
margin-top: -6px;
}

.progreso[type=range]::-ms-thumb {
background-color:white;
width: 15px;
height: 15px;
/* border: 3px solid var(--miru); */
border-radius: 50%;
margin-top: -6px;
}
.progreso[type=range]::-webkit-slider-runnable-track {
background-color: white;
height: 4px;
}
.progreso[type=”range”]::-ms-track{
background-color: white;
height: 4px;
}
.progreso[type=range]:focus::-webkit-slider-runnable-track {
outline: none;
}

.timer{
width:50%;
  font-size: 0.9rem;
position: relative;
top:-10px;
left:1.2rem;
text-align:left;
float:left;
color: white;
}
.listVol{
  width: 100%;
display: flex;
justify-content: flex-end;
}

.volumen{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.fa-volume-up{
  color: white;
  font-size: 1.5rem;
  padding-left: 15px;
}
.fa-volume-down{
  font-size: 1.5rem;
  color: white;
}
.play{
  display: flex;
  justify-content: center;
}
.play .fas{
  font-size: 3rem;
}
#currentPlay{
color: white;
  text-align: center;
}

section ul{
  display: none;
}

.volumeninput{

}

input[type='range'] {
padding-left: 10px;
}

input[type='range']:focus {
outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
-webkit-appearance: none;
background-color: #32115600;
}

input[type=range]::-webkit-slider-thumb {
background-color:rgb(255, 255, 255);
width: 20px;
height: 20px;
/* border: 3px solid var(--miru); */
border-radius: 50%;
margin-top: -9px;
}

input[type=range]::-moz-range-thumb {
width: 15px;
height: 15px;
border: 3px solid white;
border-radius: 50%;
}

input[type=range]::-ms-thumb {
width: 20px;
height: 20px;
border: 3px solid #333;
border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
background-color: rgb(255, 255, 255);
height: 4px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
outline: none;
}

.volumen .infoVol{
  display: block;
  visibility: visible;
}



.aparecerMusica{
  padding:1rem;
	background-color:#3211568e;
	font-size:20px;
	color:white;
    border-radius:100% ;
	position: fixed;
    width: 70px;
    height: 70px;
    border-style: none;
    box-shadow: var(--shadow);
    transition: box-shadow 0.5s;
	bottom:20px;
	right:10px;
    cursor: pointer;
}

.aparecerMusica:hover{
  box-shadow: none;
}
.aparecer{
  visibility: visible;
}



/*============================
        EMPIEZA MOVIL
==============================*/



@media (min-width:200px) and (max-width:1200px ) {
  i{
    color: white;
  }
  p {
    text-align: center;
  }
  .Asthetic {
    padding: 5px;
    width: 96vw;
    margin: 0;
  }
  .infoAesti{
  height: 65vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}
.titulosAesti{
  text-align: center;
  margin: 0;
  font-size: 50px;
}
.infoAesti p{
width: 98vw;
}
.fotoUnion{
  margin: 0;
  padding: 0.2rem;
  top: 8rem;
  left: 15px;
}
.fotoArribaDere{
  margin: 0;
  padding: 0.2rem;
  width: 15vw;
  top: 8rem;
  right:1rem;
  transform: rotate(10deg);
}
.fotonFondoDere{
  width: 25vw;
  margin: 0;
  left: 20px;
  padding: 0.2rem;
  margin-top: 35vh;
  transform: rotate(350deg);
}



.animals{
height: fit-content;
padding-bottom: 30vh;
}
.portadaAnimals{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 4vh;
}
.portadaAnimal{
  width: 98vw;
  height: 30vh;
}
.infoAmials{
  width: 98vw;
}
.tituloAnimals{
  font-size: 50px;
}
.infoAmials p{
  width: 99vw;
font-size: 15px;
}
.sectionCarrousel{
  width: 98vw;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.SubtitutoluAnimals{
  width: 100%;
  position: relative;
  margin: 0;
  margin-left: 1vw;
right: 0;
font-size: 50px;
}
.carousel{
  width: 98vw;
  margin: 0;  
  margin-top: 5rem;
}
.slides{
  
}
.carousel .overlays .bar {
  position: absolute;
  top: -73px;
  left: -5px;
  width: 80%;
  height: 52vh;
  background: var(--bar-color);
  transform-origin: left;
}
.carousel .slides img{
margin-left: -15vw;
  width: 60vw;
  height: 50vh;
}

.carousel .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  margin-top: 5rem;
  margin-right: 7vw;
  padding: 0 0 0 6em;
  list-style-type: none;
}
.carousel .nav-links .nav-link{
  font-size: 14px;
  margin: 5px 0;
  padding: 0 15px;
}
.tituloInCastle{
  margin: 0rem;
  margin-bottom: 1rem;
  font-family: 'MonteCarlo', cursive;
  color: var(--zochu);
  text-align: center;
  font-size: 50px;
}
.introInCastle{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cajaBlanca{
  background-color: transparent;
  width: 99vw;
  height: 30vh;
  position: relative;
  z-index: 1;
}
.cajavioleta {
  display: block;
  background-color: var(--Ccomun);
  position: absolute;
  top: 10.5rem;
  z-index: -10;
  margin-left: -15vw;
  width: 200vw;
  height: 50vh;
  transform: rotate(350deg);
}
.infoInCastle {
  border: var(--zochu) 5px solid;
  width: 80vw;
  height: max-content;
  padding: 20px;
  margin: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoInCastle p{
  width: 50vw;
}
.cajaImagIC{
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 2vw;
  z-index: 2;
}
.imgIntroInCastle{
  width: 30vw;
  height: 35vh;
  margin-right: 10px;
}
.EspeCo{
  margin-left: 0;
  width: 90vw;
  display: flex;
  flex-direction: column;
}
.cotenImgVerIC{
  display: flex;
}
.EspeCo .imgenesCloumna{
  display: flex;
  flex-direction: row;
}
.unoIC{
  margin-top: 60px;
}
.dosIC{
  margin-top: 30px;
}
.insideCastle{
  background-color: white;
  min-height: 100vh;
  height: max-content;
  display: flex;
  padding-top: 10vw;
  padding-bottom: 5rem;
  justify-content: center;
  overflow: hidden;
}

.insideCastleCont{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 99vw;
  padding-top: 20px;
  margin-top: 8rem;
}
.imagenesInCastle{
  display: flex;
  justify-self: center;
  width: 98vw;
  height: fit-content;
  margin-right: 0;
  padding: 5px 0;
}
.imgVer{
  box-sizing: border-box;
width: 48vw;
height: 40vh;
margin: 5px;
}
.espe{
margin: 0;
}
.imgHor{
  box-sizing: border-box;
  width: 48vw;
height: 15vh;
margin: 5px 0;
}
.imgHorEspe{
  width: 48vw;
  margin: 2px;
  height:15vh;
  margin-bottom: 20px;
}
.imgCua{
  box-sizing: border-box;
width: 48vw;
height: 24vh;
margin:  0;
}
.imgenesCloumna{
  width: 50vw;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
} 
.imgVerespe{
  width: 48vw;
  height: 40vh;
  margin: 2px;
}







#galleryContainer { 
  height: fit-content;
  width: 100vw;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin-top: 1rem;
}
.mivestuario{
  font-size: 50px;
  margin: 0;
  text-align: center;
}
.imagenPrincipal{
  display: flex;
  justify-content: center;
}
.botonCambio{
  justify-content: center;
}
#galleryView{
  margin-top: 5rem;
  height: 90vh;
}
#leftView{
  visibility: hidden;
  display: none;
}
#mainView{
  width: 80vw;
  height:40vh;
}
#rightView{
  visibility: hidden;
  display: none;
}
#navLeft{
  z-index: 10;
  position: absolute;
  top: -12vh;
  justify-self: flex-start;
}
#navRight{
  z-index: 10;
  position: absolute;
  top: -12vh;
}
.navBtns {
  width: 80px;
   height: 80px;
  border-radius: 50%;
  border: none;
position: relative;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white; 
}
#toggleContainer {
  height: 15vh;
  display: block;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  position: absolute;
} 
#tilesContainer {
  min-height: 90vh;
  width: 100vw;
  margin-top: 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: center;
  
}




.Portales{
  background-color: white;
  height: 105vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.InfoPortal{
display: flex;
align-self: center;
flex-direction: column;
}
.InfoPortal p{
  width: 98vw;
  font-size: 15px;
font-family: 'roboto';
}
.tituloPortal{
  margin: 0rem;
  margin-bottom: 0;
  margin-right: 0;
  font-family: 'MonteCarlo', cursive;
  color: var(--zochu);
  text-align: center;
  font-size: 50px;
  justify-self: center; 
}
.imgsPortals{
display: flex;
flex-wrap: wrap;
width: 98vw;
height: fit-content;
}
.imgPortal{
width:45vw;
height: 35vh;
margin: 5px;
}




.magia{
  background-color: white;
  display: flex;
padding:5rem 0px;

}
.columnaIz{
  width: 60vw;
padding-top: 1rem;
}
.douImgIz{
  display: flex;
}
.imgMagVer{
  width: 29vw;
  height: 35vh;
  margin-top: -1rem;
  border-radius: 50px;
}
.prime{
margin: 0;
  margin-top: 5vh;
  margin-left: 1px;

}
.columnaMe{
display: flex;
flex-direction: column;
align-items: center;
width: 40vw;
margin-top: 60vh;
justify-self: center;
}
.tituloMagia{
  margin: 0rem;
  margin-bottom: 0;
  margin-right: 0;
  font-family: 'MonteCarlo', cursive;
  color: var(--zochu);
  text-align: center;
  font-size: 50px;
  justify-self: center; 
}
.columnaMe p{
  
width: 40vw;
font-size: 15px;
font-family: 'roboto';
}
.columnaDe{
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
  justify-self: flex-start;
  width: 60vw;
  margin-top: -45vh;
  margin-left: -45vw;
padding-top: 1rem;
}
.douImgDe{
display: flex;
}
.primo{
margin-top: 5vh;
margin-right: 1px;
}






.tituloUniform{
  font-size: 50px;
}
.uniformes{
  background-color: var(--Ccomun);
  padding: 0;
  height: max-content;
  padding-top: 1rem;
}
.contenImagenesUniformeGeneral{
align-items: center;
align-content: center;
margin: 20px 10px;
}
.mainContenidoUniform{
  display: block;
} 
.fotosUniform{
  display: block;
} 
.contenFotosRctangulares{
  display: flex;
  flex-direction: column;
} 



.tituloCastle{
  margin: 0rem;
  margin-bottom: 1rem;
  font-family: 'MonteCarlo', cursive;
  color: white;
  text-align: center;
  font-size: 50px;
}
.castle{
  background:linear-gradient(111deg, #5e3888 0%, var(--zochu) 52%, #5e3888 100%);
  padding:3rem 1rem;
  padding-top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.infoCastle{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.infoCastle p{
  margin-top: 5vh;
  width: 50vw;
  color: white;
  font-family: 'roboto';
  font-size: 15px;
}
.contFotos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.casImgVer{
  width: 30vw;
  height: 25vh;
  margin-top: 3vh;
  border-radius: 10px;
}
.casImgVer:hover{
  transform: scale(1.05);
  transition:transform 1s ;
}
.casImgCua{
  width: 30vw;
  height: 25vh;
  margin-top: 3vh;
  border-radius: 10px;
}
.casImgCua:hover{
  transform: scale(1.05);
  transition:transform 1s ;
}







.comidas{
  background-color: white;
  display: block;
  height: max-content;
  padding: 2rem 0;
  } 
  
  .contenedorImagenesComida{
    display: block;
  } 
  .tituloComida{
    font-size: 50px;
    margin: 0;
  }
  .contenComida{
    margin: 2rem 0;
  }


.aparecerMusica{
  z-index: 500;
}
  .contenedor{
    position: fixed;
    bottom:20px;
    right:10px;
    width: 15em;
  background-color:#3211568e;
  display: flex;
  justify-items: center;
  flex-direction:column;
  border-radius: 30px;
  height: fit-content;
  padding: 10px;
  z-index: 500;
  margin-bottom: 5rem;
  }
}