@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');


:root{
    --zochu:#321156;
    --ferchu:#D0EEFF;
    --miru:#FCB9B2;
    --Ccomun:#B8B8FF;
    --titulos: 'Abril Fatface', cursive;
    --textos:  'Montserrat', sans-serif;
    --shadow:3px 3px 5px 0px rgba(0,0,0,0.75);
    --shadow3:3px 3px 5px 0px rgb(116, 111, 111);
    --shadow2:2px 5px 5px darkgray;
    --cards:'Open Sans Condensed', sans-serif;
 

}
body{
    /* background-image: url(/img/simon-berger-twukN12EN7c-unsplash.jpg) ;
    background-size: 101% 104%;
    background-repeat: no-repeat;
    background-position: center top; */
    background-color: var(--Ccomun);
}
main{
    display: flex;
    flex-wrap: wrap; 
}
.header2{
    position: fixed;
    height: fit-content;
    z-index: 10000;
    width: 100vw;
    height: 70px;
}
.header2 h1{
    line-height: 50px;
}

* {
	margin:0;
	padding:0;
}
a{
    font-size: 20px;
    color: var(--zochu);
    text-decoration: none;
}

header {
    padding: 15px 0 15px 0px;
    background:radial-gradient( var(--Ccomun) 80%,var(--miru));
     box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.42);
    display: flex;
    height: 70px
}
header .logo{
    width: 12vw;
    height: 70px;
    margin-left: 5vw;
}
header nav {
	display: flex;
    margin-left: 15vw;
   
}

.menu_bar {
	display:none;
}

header nav ul {
    width: 800px;
	/* overflow:hidden; */
	list-style:none;
   
}

header nav ul a li  {
	float:left;
	color:var(--zochu);
	padding: 12px;
	display:block;
	text-decoration:none;
    font-family: var(--textos);
}

header nav ul li  {
    
	margin-right:10px;
        list-style-type: none;
        font-family:var(--textos);
        color: var(--zochu);
        font-weight: bolder;
        font-size: 15px;
        -webkit-transition:all 500ms ease;
        -o-transition: all 500ms ease;
        transition:all 50ms ease;
}
#desple{
    cursor: pointer;
    padding: 10px;
    padding-top: 12px;
    border-bottom-right-radius:0 ;
    border-bottom-left-radius: 0;
}
#despleDos{
    cursor: pointer;
    padding: 10px;
    padding-top: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.fa-chevron-down{
    margin-left: 5px;
    transform: rotate(180deg);
    transition:  0.5s;
    color: var(--zochu);
}
#desple:hover .fa-chevron-down{
    margin-left: 5px;
    transform: rotate(0deg);
    transition:  0.5s;
}
#despleDos:hover .fa-chevron-down{
    margin-left: 5px;
    transform: rotate(0deg);
    transition:  0.5s;
}
#desple1{
    
    border-top-left-radius: 0;
}
li:hover{
    
    border-radius:20px;
    background-color: var(--ferchu);  
    color: var(--zochu)
}
li a:hover {
    
    color: var(--zochu)
}
nav ul a:hover li  {
	background-color: var(--ferchu);
    color: var(--zochu);
    border-radius: 20px;
    
}
#menu{
    align-self: center;
    z-index: 100;
}
#menu ul li {
    position:relative;
    float:left;
    align-self: center;
   }
#menu ul ul{
    display: none;
    padding: 0;
}

.despegable {
    position:absolute;
    top:100%;
    left:0;
    background-color: #b8b8ffbd;
    padding:0;
    border-radius:20px;
     flex-direction: column;
   }
   .despegable li {

    margin: 0px;
    border: 2px solid rgba(255, 255, 255, 0);
    padding: 10px;
    width:12vw;
    text-align: center;
    
   }
   #menu ul li:hover > .despegable {
   display: block;
   width: fit-content;
    float:none;
    text-align: center;
    display: flex;
   flex-direction: column;
   }
#cerrar{
    width: 40px;
    display: none;
    background: none;
    color: var(--zochu);
    border-style: none;
    font-size: 40px;
    margin-left:20px;
}

@media (min-width:200px) and (max-width:1200px ) {
    header .logo{
        margin-left: 2rem;
        margin-top: 0;
        width: 10rem;
    }
    i{
        color: #321156;
    }
    #cerrar{
        width: 20px;
        display: block;
    }
    nav ul a:hover li  {
        border-radius: 0px;
    }
    li:hover{
        border-radius:0px;
        background-color: var(--ferchu);  
        color: var(--zochu)
    }
    #desple{
        padding-left: 20px;
    }
    .despegable {
        background-color: var(--Ccomun);
        z-index: 1000;
        width:100%;
        position: relative;
        border-radius: 0;
        margin-top: 11px;
        margin-bottom: 20px;
    }
    .despegable li{
        border-radius: 0;
        z-index: 100;
        margin-left:0 ;
         display: block;
        width:100%;
        text-align: start;
        border-bottom:1px solid rgba(255,255,255, .3);
    }
    #menu ul li:hover > .despegable {
        width: 100%;
        float: right;
        z-index: 1000;
    }
	header nav {
		width:80%;
		height:100%;
		right: -100%;
		margin:0;
		position: fixed;
        background-color: var(--Ccomun);
	}
    #menu{
        align-self: start;
        z-index: 1000;
    }
    #menu ul li {
        float: none;
       }
    #menu ul ul{
        
        padding: 0;
    }
	header nav ul a li {
        width: 100%;
		display:block;
		border-bottom:1px solid rgba(255,255,255, .3);
        
	}
    nav ul li{
        width: 100%;
        justify-items: right;
        border-bottom:1px solid rgba(255,255,255, .3);
    }
	.menu_bar {
		display:block;
		width:100%;
		
	}

	.menu_bar .bt-menu {
		display:block;
		padding:10px;
		background:var(--Ccomun);
		color:var(--zochu);
		text-decoration:none;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
        float: right;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}
}


 .Subir{
	padding: 0.8rem;
    background-color: rgba(243, 237, 237, 0.678);
    font-size: 20px;
    color: black;
    border-radius: 100%;
    position: fixed;
    width: 3rem;
    height: 3rem;
    border-style: none;
    box-shadow: var(--shadow);
    transition: box-shadow 0.5s;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
.Subir:hover{
    box-shadow: none;
    transition: box-shadow 0.5s;
}



.body::-webkit-scrollbar {
    width: 10px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}
.body::-webkit-scrollbar-thumb {
    background: var(--miru);
    border-radius: 4px;
    /* border: 1px solid var(--zochu) ; */
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.body::-webkit-scrollbar-thumb:hover {
    background:#321156a1 ;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.body::-webkit-scrollbar-thumb:active {
    background-color:var(--zochu) ;
}
.body::-webkit-scrollbar-track {
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.body::-webkit-scrollbar-track:hover,
.body::-webkit-scrollbar-track:active {
}