@import url(comun.css);
@font-face {
    font-family: "ProximaNova";
    src: url('/img/twiter/txt/ProximaNova-BoldIt-04.otf'),
     url('/img/twiter/txt/ProximaNova-Extrabld-05.otf'),
     url('/img/twiter/txt/ProximaNova-ExtrabldIt-06.otf'),
     url('/img/twiter/txt/ProximaNova-Light-09.otf'),
     url('/img/twiter/txt/ProximaNova-LightIt-10.otf'),
     url('/img/twiter/txt/ProximaNova-Medium-07.otf'),
     url('/img/twiter/txt/ProximaNova-MediumIt-08.otf'),
     url('/img/twiter/txt/ProximaNova-Regular-01.otf'),
     url('/img/twiter/txt/ProximaNova-RegularIt-02.otf'),
     url('/img/twiter/txt/ProximaNova-Semibold-11.otf'),
     url('/img/twiter/txt/ProximaNova-SemiboldIt-12.otf'),
    
}
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
body{
    background-color: #63D5D4;
}
main{
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    overflow: hidden;
}

#main1{
    height: 100vh;
}
.card{
    width: 25vw;
    height: fit-content;
   margin-top: 5vh;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    opacity: 100%;
    cursor: pointer;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.1);
}
.card:hover{
    transform: scale(1.05);
    transition: transform 1s;
}
.oscurecer{
    opacity: 50%;
}
.fondoPerfil{
border-top-left-radius:20px ;
border-top-right-radius:20px ;
overflow: hidden;
width: 30vw;
height: 20vh;
}
.imgFondo{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    width: 25vw;
    margin-top: -50vh;
    z-index: 0;
}
.imgPerfil{
    width: 15vw;
   margin-top:-6vh ;
   margin-left: 1vw;
   z-index: 10;

}

.botonEditarPerfil{
    background: none;
    border-style: none;
    border:2px solid lightseagreen;
    padding: 0.3vw;
    border-radius: 20px;
    width: 6vw;
    margin-top: 1.5vh;
    height: 5vh;
    color: lightseagreen;
    margin-left: 9vw;
    
}
.secinfo{
     background-color: white;
     padding-bottom: 1vw;
     display: flex;
     flex-direction: column;
     border-bottom-left-radius:20px ;
     border-bottom-right-radius:20px ;
}
.cajaDeBt{
    display: flex;
}
.infoPerfil{
    margin: 0vw 1.5vw;
}
.infoPerfil h3{
    font-size: 22px;
    /* font-family: "ProximaNova"; */
    font-family: 'Hind Siliguri', sans-serif;
}
.infoPerfil small{
    font-size: 18px;
    /* font-family: "ProximaNova"; */
    font-family: 'Hind Siliguri', sans-serif;
    color: gray;
}
.infoPerfil p{
    /* font-family: "ProximaNova"; */
    font-family: 'Hind Siliguri', sans-serif;
    box-sizing: border-box;
    font-size: 18px;
    width: 100%;
    height: 14vh;
    margin-top: 0.7vh;
}
.infoPequenia{
    margin: 0.5vw 1.5vw;
    color: gray;
    
    /* font-family: "ProximaNova"; */
    font-family: 'Hind Siliguri', sans-serif;
    display: flex;
    flex-direction: column;
}
.infoPequenia span{
    font-size: 16px;
}
.imgIcono{
    margin-bottom: -0.5vh;
    margin-left: 0.5vw;
    width: 1.2vw;
}
.seguidores{
    margin-top: 1vh;
}
.seguidores i{
   
    font-style:normal;
    font-weight: bold;
    color: black;
}
.secondIcono{
    margin-left: 0.5vw;
}


#main2{
    min-height: 100vh;
    display: flex;
}
.tweetsGenerales{
    font-family:"ProximaNova";
    padding: 10px;
    height: fit-content;
    width: fit-content;
    color: white;
    margin: 15px;
    margin-left: 5vw;
    border-radius: 10px;
    border:1px solid white;
    display: none;
}
.twit{
    margin: 1vw;
    background-color: white;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    width: 25vw;
    height: fit-content;
}
.twit:hover{
    transform: scale(1.05);
    transition: transform 1s;
}
.twit img{
    width: 6vw;
    height: 6vw;
}
.sectionInfo{
    margin-left: 0.5vw;
    width: 28vw;
}
.titulo{
    width: 18vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.titulo i{
    color: gray;
    font-weight: normal;
    font-size: 25px;
}
.tituloNombre{
    width: 28vw;
    display: flex;
    /* font-family: "ProximaNova"; */
    font-family: 'Hind Siliguri', sans-serif;
}
.tituloNombre h2{
    font-size: 20px;
}
.tituloNombre small{
    margin-left: 0.5vw;
font-size:20px;
color: gray;
}
.twit p{
    min-height: 4vh;
    width: 18vw;
    font-size: 18px;
    /* font-family: "ProximaNova"; */
    font-family: 'Hind Siliguri', sans-serif;
}
.cajaIconos{
    display: flex;
    justify-content: space-around;
    margin-left: -2vw;
    margin-top: 2vh;
}
.cajaIconos i{
    color: gray;
    font-size: 16px;
}
.spanNumero{
    color: gray;
    font-size: 16px;
    margin-left: 0.2vw;
    /* font-family: "ProximaNova"; */
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: normal;
}









@media (min-width:200px) and (max-width:1200px ) {
    #main1 {
        height: max-content;
        width: 99vw;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        padding-bottom: 5vh;
    }
.card{
    width: 80vw;
}
.fondoPerfil {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    width: 80vw;
    height: 20vh;
}
.imgFondo{
    width: 80vw;
    margin: 0;
    margin-top: -20vh;
}
.imgPerfil {
    width: 30vw;
}
.botonEditarPerfil {
    background: none;
    border-style: none;
    border: 2px solid lightseagreen;
    padding: 0.3vw;
    border-radius: 20px;
    width: 30vw;
    margin-top: 1.5vh;
    height: 5vh;
    color: lightseagreen;
    margin-left: 16vw;
}
.infoPerfil {
    margin: 0vw 3vw;
}
.infoPerfil p {
    font-size: 22px;
}
.infoPequenia {
    margin: 0.5vw 3vw;
}
main{
    padding: 0;
    padding-bottom: 20px;
}
.twit{
    width: 80vw;
}
.twit img{
    width: 20vw;
    height: 20vw;
}
.titulo {
    width: 60vw;
}
.twit p {
    width: 60vw;
}
.cajaIconos {
   width: 60vw;
}




}