@import url(/css/comun.css);
main{ 
     display: flex;
}
.imgfondo{
    position: absolute;
    top: -1vh;
    width: 100%;
    height: 135%;
    z-index: -10;
}
.Contenedor{
    width: 100%;
    font-weight: bolder;
    display: flex;
}
.contenedorimg{
    box-sizing: border-box;
    width: 100%;
    height: 145%;
    position: absolute;
    top: -15vh;
    z-index: -9;
}
.contentextos{
    box-sizing: border-box;
    top: 20vh;
    right: 23vw;
    width: 25%;
    position: absolute;
    z-index: -9;
}

Section {
    display: flex;
    justify-content: space-between;
    margin: 70px 10px;

}
.primero{
    margin-top: 0;
}
.Section1 span{
    
    margin: 20px 0px 20px 0 ;
   
}
.Section2 span{
    margin: 20px 0px 20px 0 ;
   
}
.CantidadText{
    width: 50%;
    font-family: var(--textos);
    font-size: 20px;
    font-weight: bolder;
}
.numero{
    text-align: right;
    font-family: var(--textos);
    font-size: 23px;
    padding: 0px 0 0 0px ;
    font-weight: bolder;
}
.cantTotal{
    margin-top: 9rem;
}
#totales{
    color: rgb(82, 4, 82);
    font-size: 40px;
}

@media (min-width:200px) and (max-width:1200px ) {
    .CantidadText{
        width: 100PX;
        font-size: 15px;
    }
    .numero{
        font-size: 18px;
    }
    #totales{
        font-size: 30px;
    }
}