@import url(comun.css);

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    width: 22vw;
    height: 55vh;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.897);
    box-shadow: 4px 7px 16px 0px rgba(176,159,159,0.75);
-webkit-box-shadow: 4px 7px 16px 0px rgba(176,159,159,0.75);
-moz-box-shadow: 4px 7px 16px 0px rgba(176,159,159,0.75);
   
}
.cardImg{
  box-sizing: border-box;
  width: 100%;
  height: 70%;
}
.cardtextos{
   margin: 0.5rem;
   font-family: var(--cards);
}
.card p{
    margin-bottom: 0.2rem;
}
.card h3{
	margin-bottom: 0.3rem;
    font-weight: bold;
}

@media(max-width:1240px){
    main{
        flex-direction: column;
        align-content: center;
        margin: 0;
        
    }
    .card {
        width: 320px;
    height: 65vh;
    
    }
    .card img{
        width: 320px;
    height: 320px;
    
    }
    .card h3{
        width: 320px;
        padding: 0;
    }

    .card p{
        padding-bottom: 20px;
    }
}