@import url(comun.css);

main{
    display: flex;
    justify-content: space-evenly;
}

.Version2 {
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.897);
    padding: 0 0 15px 0;
    box-shadow: 4px 7px 16px 0px rgba(176,159,159,0.75);
-webkit-box-shadow: 4px 7px 16px 0px rgba(176,159,159,0.75);
-moz-box-shadow: 4px 7px 16px 0px rgba(176,159,159,0.75);
   
}
.Version2Img{
    width: 300px;
    height: 280px;
    padding: 0;
   
}
.Version2Div{
    margin: 0;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding:10px 0 0 0 ;
}
.Version2 p{
    font-family: var(--cards);
    font-weight: lighter;
	font-size : 18px;
	color : #1D1D1B;
    width: 320px;
    margin-top: 5px;
    padding: 0 15px;
}
.Version2 h3{
	font-size : 25px;
	color : #1D1D1B;
    padding: 5px 15px;
    font-family: var(--cards);
    font-weight: bold;
}

@media(max-width:1240px){
    main{
        flex-direction: column;
        align-content: center;
        margin: 0;
        
    }
    .Version2 {
        width: 320px;
    height: 65vh;
    
    }
    .Version2 img{
        width: 320px;
    height: 320px;
    
    }
    .Version2 h3{
        width: 320px;
        padding: 0;
    }

    .Version2 p{
    }
}