@import url(comun.css);
main{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}
body{
    background-color: var(--miru)
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.contenedor{
    width: 20em;
background-color: white;
display: flex;
justify-items: center;
flex-direction:column;
border-radius: 30px;
height: fit-content;
padding: 10px;
}
.contenedor.tipos{
	min-height: 450px;
		padding: 2rem;
}
.tipos{
	width: 15rem;
	align-items: center;
	justify-content: center;

}
.tipos button{
	background: lightskyblue;
	border-style: none;
	border-radius: 30px;
	width: 15rem;
	height: 5rem;
	margin: 5px;
	font-size: 1rem;
	box-shadow: var(--shadow);
	font-family: var(--textos);
	font-weight: bolder;
	padding:10px;
}
.tipos button:hover{
	box-shadow:none;
}
.portada{
    width: 12rem;
    border-radius: 30px;
    align-self: center;
    margin: 1rem;
    background-color: rgb(135, 206, 250);

}
#playList{
	border-radius: 10px;
	text-align: left;
	opacity: 0.8;
	color:lightskyblue;
	
}

ol li{
	padding: 10px;
    margin-left: 10px;
	font-size: 1rem;
}
ol li:hover, svg:hover {
	cursor: pointer;
	color: var(--zochu);
}
ol li.active{
	color:var(--zochu);
}
#controls{
	border-radius: 10px;
	padding: 10px;
	opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.botones{
    justify-content: space-around;
    
    width: 100%;
}
#controls i{
    color: lightskyblue;
}
svg{
	color: var(--zochu);
}
 
progress{
	width: 90%;
	margin: 10px;
	opacity: 0.5;
 align-self: center;
}
 
.timer{
	width:50%;
    font-size: 0.9rem;
	position: relative;
	top:-10px;
	left:1.2rem;
	text-align:left;
	float:left;
	color: var(--zochu);
}
.listVol{
    width: 100%;
display: flex;
justify-content: flex-end;
}

.volumen{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.fa-volume-up{
    font-size: 1.5rem;
    padding-left: 15px;
}
.fa-volume-down{
    font-size: 1.5rem;
}
.play{
    display: flex;
    justify-content: center;
}
.play .fas{
    font-size: 5rem;
}
#currentPlay{
	color: var(--zochu);
    text-align: center;
}

.despli{
    display: block;
}
section ul{
    display: none;
}

.volumen div{
    display: none;
    visibility: hidden;
}

.volumen .infoVol{
    display: block;
    visibility: visible;
}
.contenedor.playList{
	padding: 2rem;
}
.playList{
	min-height: 450px;
	max-height: 450px;
}
#lista{
	overflow: scroll;
}
#lista::-webkit-scrollbar {
    width: 10px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}
#lista::-webkit-scrollbar-thumb {
    background: var(--ferchu);
    border-radius: 4px;
    /* border: 1px solid var(--zochu) ; */
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
#lista::-webkit-scrollbar-thumb:hover {
    background:#321156a1 ;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
#lista::-webkit-scrollbar-thumb:active {
    background-color:var(--zochu) ;
}
#lista::-webkit-scrollbar-track {
    border-radius: 4px;
}
.playicono{
    width: 50px;
    margin-left: 10px;
}
.topplaylist{
	display: flex;
	justify-content:center;
}
.topplaylist h3{
	font-size: 1.5rem;
	font-family: var(--textos);
	text-align: center;
}
@media (max-width:1200px ){
	main{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.contenedor{
		width: 80vw;
		padding: 10px;
		height: fit-content;
		margin: 20px;
		margin: 10px;
	}
	.contenedor.tipos{
		min-height: fit-content;
		padding: 10px;	
	}
	.contenedor.playList{
		min-height: fit-content;
		padding: 10px;
	}
	#playList{
		margin-left: 1rem;
	}
	}