@import url(comun.css);

.contenedor{
    margin: 1rem;
    width: 25rem;
    padding: 0.5rem;
background-color: white;
}
.titulo{
    font-size: 3rem;
    font-family: var(--titulos);
text-align: center;
}
.imagen{
box-sizing: border-box;
width: 100%;
}
.descripcion{
    font-family: var(--textos);
    font-weight: bolder;
text-align: justify;
}